<% include('../layouts/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="/users/registration.css">



    <h1>User Registration Form</h1>

    <form action="/register" method="post">

        <input type="text" name="name" placeholder="Enter your Name" required>
        <br><br>
        <input type="email" name="email" placeholder="Enter your email" required>
        <br><br>
        <input type="number" name="mno" placeholder="Enter your Mobile number" required>
        <br><br>
        <!--<input type="file" name="image"  required>
            <br><br>-->
        <input type="password" name="password" placeholder="Enter Password" required>
        <br><br>
        <input type="submit" value="Register">

    </form>

    <div class="btton">
        <a href="/"><button type="submit"> Login</button></a>

    </div>

    <% if (typeof message !=='undefined' ){ %>
        <p class="message">
            <%=message%>
        </p>
        <% } %>


            <% include('../layouts/footer.ejs') %>